/*1366 - 961*/
@media only screen and (max-width:1200px){
    
	header div.banner div h1 {
	    font-size: 3rem;
	}

}

/*769 - 960px*/
@media screen and (max-width: 960px){
	
	h2{
		font-size: 120%
	}

	nav ul {
		text-align: right;
		position: absolute;
        right: 0;
    	display: block;
    	padding: 15px 0;
	}

	nav  ul li {
		word-spacing: 5px;
		padding-bottom: 10px;
	}

	.menuBurger {
		display: inline-block;
		cursor: pointer;
		position: relative;
		top: 20px;
		left:90%; 
	}

	.bar1, .bar2, .bar3 {
	    width: 35px;
	    height: 5px;
	    background-color: #fff;
	    margin: 6px 0;
	    transition: 0.4s;
	    display: block;
	}

	.change .bar1 {
	    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
	    transform: rotate(-45deg) translate(-9px, 6px);
	}

	.change .bar2 {opacity: 0;}

	.change .bar3 {
	    -webkit-transform: rotate(45deg) translate(-8px, -8px);
	    transform: rotate(45deg) translate(-8px, -8px);
	}

	.menu {
		opacity: 0;
	}

	.change .menu {
		opacity: 100;
	}

	header .banner {
	   	margin-top: 250px;
	}

	header div.banner div h1 {
	   	font-size: 2rem;
	}

	.about_childhood {
	  	grid-template-columns: 50% 50%;
	} 

	.about_backround {
	  	grid-template-columns: 50% 50%;
	} 

	.text_background {
	  	grid-column-start: auto;
	}

	.img_background{
	   grid-column-start: auto;
	}

	.about_future {
		grid-template-columns: 50% 50%;
	}

	.icon-big {
		margin: auto;
	    padding: 20px 0;	
	}

	.discovery {
	  	grid-template-columns: repeat(2, 1fr);
	}	
}

/*481 - 768px*/
@media screen and (max-width: 768px){

	h2{
		font-size: 100%
	}

	.img_future {
    	align-self: center;
	}	

	.about_me_text {
    	grid-template-columns: 1fr;
    }

	label {
		display: none;
	}

	.footer_container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.social-links {
	 	margin-left: 75px;
	}
	.footer-nav {
        margin-bottom: 15px;
	}

	.copyright p{
		padding-top: 15px;
	}
}
/*320 - 480px*/
@media screen and (max-width: 480px){

	header .banner div {
		top:150px;
	}
	.about_childhood {
	 	 grid-template-columns: 100%;
	} 

	.text_chilhood {
	  	text-align: center;
	}

	.about_backround {
	 	 grid-template-columns: 100%;
	} 

	.text_background {
	 	grid-column-start: auto;
	 	text-align: center;
	}

	.img_background{
		grid-row:2;
	}

	.about_future {
		grid-template-columns: 100%;
	}

	.text_future {
		text-align: center;
	}

	footer {
		padding: 30px;
	}

	.footer-nav {
		text-align: center;
	}

	.footer-nav li, 
	.social-links li {
	    margin-right: 30px;
	    margin-bottom: 10px;
	    font-size: 120%;
	    text-align: center;
	}

	.social-links {
  	 	margin-left: 0;
	}

}